node_modules/
dist/

.DS_Store
.env
.env.*

*.jks
*.keystore
*.aab
*.apk

android/app/release/
android/app/debug/
android/.idea/
android/.gradle/
android/build/
android/app/build/

ios/App/build/
ios/App/DerivedData/
